Itsg.Ostc2.Validator/Schemas/OSTC-components-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2011 rel. 2 sp1 (http://www.altova.com) von Sandra Rillox (ITSG GmbH - Informationstechnische Servicestelle der Gesetzlichen Krankenversicherung) bearbeitet -->
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Oliver Staudt (Applied Security GmbH) -->
<!--
    Schema module describing shared eXTra components
    
    @file    eXTra-components-1.xsd
    @version 1.1.0
	
    

-->
<xs:schema xmlns="http://www.extra-standard.de/namespace/components/1" xmlns:xcode="http://www.extra-standard.de/namespace/codelists/1" xmlns:xplg="http://www.extra-standard.de/namespace/plugins/1" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.extra-standard.de/namespace/components/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1.0">
	<!-- Import eXTra code lists -->
	<xs:import namespace="http://www.extra-standard.de/namespace/codelists/1" schemaLocation="eXTra-codelists-1.xsd"/>
	<!-- Import XML Signature namespace -->
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
	<!-- Simple content types -->
	<!-- @changed 2009-09-09 MS + Added value '1.1' -->
	<!-- @profiled 2010-11-3 OS removed  value '1.0' -->
	<xs:simpleType name="SupportedVersionsType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1.1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProfileIDType">
		<xs:restriction base="SimpleURIencodableType">
			<xs:enumeration value="http://www.extra-standard.de/profile/DEUEVGKV/1.1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ScenarioType">
		<xs:annotation>
			<xs:documentation>
                Any valid URI is permitted to indicate the choosen scenario. However, it is
                recommended to use one of following predefined values:
                - http://www.extra-standard.de/scenario/fire-and-forget
                - http://www.extra-standard.de/scenario/request-with-response
                - http://www.extra-standard.de/scenario/request-with-acknowlegdement
                Each of these values may be extended by appending a '#' character and any
                URI compatible value to it, such as in:
                - http://www.extra-standard.de/scenario/request-with-response#noSig
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xcode:ScenarioCodeType"/>
	</xs:simpleType>
	<xs:simpleType name="ProcessIDType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SimpleIDType">
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="SimpleClassType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SimpleNameType">
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="SimpleTypeType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SimpleStringType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="PropertyType">
		<xs:simpleContent>
			<xs:extension base="SimpleStringType">
				<xs:attribute name="type" type="xcode:XSDPrefixedTypeCodes" default="xs:string"/>
				<xs:attribute name="name" type="xs:token"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TextType">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ClassifiableStringType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="class" type="SimpleClassType" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ClassifiableIDType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="class" type="SimpleClassType" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="SimpleURIencodableType">
		<xs:restriction base="xs:anyURI"/>
	</xs:simpleType>
	<xs:complexType name="FlagCodeType">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<!-- Complex content types -->
	<xs:complexType name="ElementWithVersionType" abstract="true">
		<xs:attribute name="version" type="SupportedVersionsType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ElementWithOptionalVersionType" abstract="true">
		<xs:attribute name="version" type="SupportedVersionsType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RootElementType" abstract="true">
		<xs:complexContent>
			<xs:extension base="ElementWithVersionType">
				<xs:attribute name="profile" type="ProfileIDType" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ApplicationType">
		<xs:sequence>
			<xs:element ref="Product"/>
			<xs:element ref="Manufacturer"/>
			<xs:element name="RegistrationID" type="RegistrationIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>@profile maxOcc=1</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReceiverType">
		<xs:sequence>
			<xs:element ref="ReceiverID"/>
			<xs:element ref="Name" minOccurs="0" maxOccurs="0">
				<xs:annotation>
					<xs:documentation>@profile maxocc = 0</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReceiverOSTCType">
		<xs:sequence>
			<xs:element ref="ReceiverID"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SenderType">
		<xs:sequence>
			<xs:element ref="SenderID">
				<xs:annotation>
					<xs:documentation>@Profile Pattern </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Name">
				<xs:annotation>
					<xs:documentation>@profile minocc = 1</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestDetailsType">
		<xs:sequence>
			<xs:element ref="RequestID"/>
			<xs:element ref="TimeStamp"/>
			<xs:element name="Application" type="ApplicationType" minOccurs="0"/>
			<xs:element ref="Procedure" minOccurs="0"/>
			<xs:element ref="DataType" minOccurs="0"/>
			<xs:element ref="Scenario"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReportType">
		<xs:sequence>
			<xs:element ref="Flag" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="highestWeight" type="xcode:WeightCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="FlagType">
		<xs:sequence>
			<xs:element ref="Code"/>
			<xs:element ref="Text"/>
		</xs:sequence>
		<xs:attribute name="weight" type="xcode:WeightCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="Base64CharSequenceType">
		<xs:simpleContent>
			<xs:extension base="xs:base64Binary"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AnyXMLType">
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XMLFragmentType">
		<xs:complexContent>
			<xs:extension base="AnyXMLType">
				<xs:attribute name="id" type="xs:string" use="optional"/>
				<xs:attribute name="xpath" type="xs:string" use="optional"/>
				<xs:attribute name="documentReference" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CharSequenceType">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<!-- ElementSequenceType
        @changed 2009-05-05 MS / Set attribute 'processContents' to 'lax'
    -->
	<xs:complexType name="ElementSequenceType">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LoggingType">
		<xs:sequence>
			<xs:any namespace="##local" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SignaturesType">
		<xs:sequence>
			<xs:element ref="ds:Signature" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataType">
		<xs:sequence>
			<xs:element ref="Base64CharSequence"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AnyPlugInContainerType">
		<xs:sequence>
			<xs:any namespace="http://www.extra-standard.de/namespace/plugins/1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="TextType">
					<xs:minLength value="1"/>
					<xs:maxLength value="80"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReceiverID">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="ClassifiableIDType">
					<xs:minLength value="1"/>
					<xs:maxLength value="15"/>
					<xs:enumeration value="17046976"/>
					<xs:enumeration value="660640162"/>
					<xs:attribute name="class" use="required">
						<xs:simpleType>
							<xs:restriction base="SimpleClassType">
								<xs:enumeration value="BNR"/>
								<xs:enumeration value="IK"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SenderID">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="ClassifiableIDType">
					<xs:minLength value="1"/>
					<xs:maxLength value="15"/>
					<xs:pattern value="\d{8,9}"/>
					<xs:attribute name="class" use="required">
						<xs:annotation>
							<xs:documentation>@profile Enumeration -> required</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="SimpleClassType">
								<xs:enumeration value="BNR"/>
								<xs:enumeration value="IK"/>
								<xs:enumeration value="ZNR"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RequestID">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="ClassifiableIDType">
					<xs:minLength value="0"/>
					<xs:maxLength value="80"/>
					<xs:attribute name="class" use="prohibited">
						<xs:annotation>
							<xs:documentation>@profile prohibited</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="SimpleClassType">
								<xs:minLength value="1"/>
								<xs:maxLength value="20"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="TimeStamp" type="xs:dateTime"/>
	<xs:element name="Scenario">
		<xs:simpleType>
			<xs:restriction base="ScenarioType">
				<xs:enumeration value="http://www.extra-standard.de/scenario/request-with-response"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Procedure">
		<xs:simpleType>
			<xs:restriction base="SimpleNameType">
				<xs:minLength value="1"/>
				<xs:pattern value=""/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DataType">
		<xs:simpleType>
			<xs:restriction base="SimpleURIencodableType">
				<xs:pattern value=""/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Product">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="TextType">
					<xs:minLength value="0"/>
					<xs:maxLength value="120"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Manufacturer">
		<xs:simpleType>
			<xs:restriction base="SimpleStringType">
				<xs:minLength value="0"/>
				<xs:maxLength value="80"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RegistrationID" type="ClassifiableIDType"/>
	<xs:element name="ComponentID" type="SimpleStringType"/>
	<xs:element name="ProcessID" type="ProcessIDType"/>
	<xs:element name="Code">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="FlagCodeType">
					<xs:minLength value="1"/>
					<xs:maxLength value="80"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Text">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="TextType">
					<xs:minLength value="1"/>
					<xs:maxLength value="80"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Stack" type="TextType"/>
	<xs:element name="XPath" type="TextType"/>
	<xs:element name="Originator" type="TextType"/>
	<xs:element name="Report" type="ReportType"/>
	<xs:element name="Flag" type="FlagType"/>
	<xs:element name="Receiver" type="ReceiverOSTCType"/>
	<xs:element name="Sender" type="SenderType"/>
	<xs:element name="AnyXML" type="AnyXMLType"/>
	<xs:element name="Base64CharSequence" type="Base64CharSequenceType"/>
	<xs:element name="CharSequence" type="CharSequenceType"/>
	<xs:element name="ElementSequence" type="ElementSequenceType"/>
	<xs:element name="Data" type="DataType"/>
	<xs:element name="XMLFragment" type="XMLFragmentType"/>
	<xs:element name="Property" type="PropertyType"/>
	<xs:element name="Signatures" type="SignaturesType"/>
	<!-- TransformedData
        @created 2009-05-04 MS
    -->
	<xs:complexType name="RegistrationIDType">
		<xs:simpleContent>
			<xs:restriction base="ClassifiableIDType">
				<xs:pattern value="\d{5}"/>
				<xs:attribute name="class" type="SimpleClassType" use="prohibited"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
